/* Other rules */

* {
  box-sizing: border-box;
  --marverGrey: #202020;
  font-family: "Roboto Condensed", sans-serif;
}

/*----HEADER--- */
.header {
  background-color: var(--marverGrey);
  height: 60px;
  display: flex;
  align-items: center;
}

.header > a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.header > img {
  width: 100px;
  height: 100px;
}

/*----SEARCH BAR--- */

.SearchBar {
  width: 100%;
  height: 60px;
  font-size: 20px;
  text-align: center;
}

/*----CHARACTER SHEET--- */

.characterSheet {
  width: 250px;
}

.characterSheet img {
  width: 200px;
}

.remove {
  border: 2px solid red;
  border-radius: 3px;
  color: red;
  background-color: white;
}

.add {
  border: 2px solid red;
  border-radius: 3px;
  color: white;
  background-color: red;
}

.page-btn {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.page-btn > input {
  width: 50px;
  height: 25px;
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  background-color: white;
}

.main-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-items > div {
  margin: 10px;
  border: 2px solid #ec1c23;
  border-radius: 10px;
}

.main-items > div > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-decoration: none;
  color: var(--marverGrey);
  text-align: center;
}

.main-items > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-decoration: none;
  color: var(--marverGrey);
  text-align: center;
}

.main-items > div > a > p {
  text-decoration: none;
}

.page-title {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
